<p style="color: green"><%= notice %></p>

<%= render @bike_model %>

<div>
  <%= link_to "Edit this bike_model", edit_bike_model_path(@bike_model) %> |
  <%= link_to "Back to bikes_model", bike_models_path %>

  <%= button_to "Destroy this bike_model", @bike_model, method: :delete %>
</div>
