<div class="container">
  <div id="<%= dom_id bike_brand %>">
    <p>
      <strong>Name_brand:</strong>
      <%= bike_brand.name_brand %>
    </p>

    <p>
      <strong>logo:</strong>
      
      <%= image_tag url_for(bike_brand.image), class:"foto"%>
    </p>

    <p>
      <strong>delivery_condition:</strong>
      <%= bike_brand.delivery_condition %>
    </p>

    <p>
      <strong>email:</strong>
      <%= bike_brand.email %>
    </p>
    
    

    

  </div>
</div>
