<%= form_with(model: bike_brand) do |form| %>
  <% if bike_brand.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(bike_brand.errors.count, "error") %> prohibited this bike_brands from being saved:</h2>

      <ul>
        <% bike_brand.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name_brand, style: "display: block" %>
    <%= form.text_field :name_brand %>
  </div>

  <div class="form-group">
    <%= form.label :logo, style: "display: block" %>
    <%= form.file_field :image %>
  </div>

  <div class="form-group">
    <%= form.label :delivery_condition, style: "display: block" %>
    <%= form.text_field :delivery_condition %>
  </div>
  
  <div class="form-group">
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  




  <div class="form-group">
    <%= form.submit %>
  </div>
<% end %>
